In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# 한글 폰트 문제 해결
import platform

from matplotlib import font_manager, rc
# plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [35]:
onion13 = pd.read_excel('./양파가격정보2013.xlsx', encoding='utf-8-sig', header=None)

In [36]:
onion13 = onion13.T

In [37]:
onion13.head()

                     0       1       2       3
0                   구분      평균      평년      서울
1  2020-01-02 00:00:00  28,000  16,833  28,000
2  2020-01-03 00:00:00  28,000  16,917  28,000
3  2020-01-04 00:00:00  28,000  16,917  28,000
4  2020-01-07 00:00:00  30,000  16,733  30,000

In [38]:
onion13.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 248
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       249 non-null    object
 1   1       249 non-null    object
 2   2       249 non-null    object
 3   3       249 non-null    object
dtypes: object(4)
memory usage: 9.7+ KB

In [40]:
onion13.drop([0], inplace=True)

In [43]:
onion13.drop([2,3], axis=1, inplace=True)

In [45]:
onion13.tail()

                       0       1
244  2020-12-24 00:00:00  15,000
245  2020-12-26 00:00:00  15,000
246  2020-12-27 00:00:00  15,000
247  2020-12-30 00:00:00  15,000
248  2020-12-31 00:00:00  15,000

In [46]:
onion14 = pd.read_excel('./양파가격정보2014.xlsx', encoding='utf-8-sig', header=None)
onion14 = onion14.T

In [47]:
onion14.drop([0], inplace=True)

In [48]:
onion14.drop([2,3], axis=1, inplace=True)

In [49]:
onion14.head()

                     0       1
1  2020-01-02 00:00:00  15,000
2  2020-01-03 00:00:00  15,000
3  2020-01-06 00:00:00  15,000
4  2020-01-07 00:00:00  15,000
5  2020-01-08 00:00:00  15,000

In [50]:
onion15 = pd.read_excel('./양파가격정보2015.xlsx', encoding='utf-8-sig', header=None)
onion15 = onion15.T

In [51]:
onion15.drop([0], inplace=True)

In [52]:
onion15.drop([2,3], axis=1, inplace=True)

In [53]:
onion15.head()

                     0       1
1  2020-01-02 00:00:00  10,000
2  2020-01-05 00:00:00  10,000
3  2020-01-06 00:00:00  10,000
4  2020-01-07 00:00:00  10,000
5  2020-01-08 00:00:00  10,000

In [54]:
onion16 = pd.read_excel('./양파가격정보2016.xlsx', encoding='utf-8-sig', header=None)
onion16 = onion16.T

In [55]:
onion16.drop([0], inplace=True)

In [56]:
onion16.drop([2,3], axis=1, inplace=True)

In [57]:
onion16.head()

                     0       1
1  2020-01-04 00:00:00  38,000
2  2020-01-05 00:00:00  38,000
3  2020-01-06 00:00:00  38,000
4  2020-01-07 00:00:00  36,000
5  2020-01-08 00:00:00  34,000

In [58]:
onion17 = pd.read_excel('./양파가격정보2017.xlsx', encoding='utf-8-sig', header=None)
onion17 = onion17.T

In [59]:
onion17.drop([0], inplace=True)

In [60]:
onion17.drop([2,3], axis=1, inplace=True)

In [61]:
onion17.head()

                     0       1
1  2020-01-02 00:00:00  22,000
2  2020-01-03 00:00:00  23,000
3  2020-01-04 00:00:00  24,000
4  2020-01-05 00:00:00  25,000
5  2020-01-06 00:00:00  25,000

In [62]:
onion18 = pd.read_excel('./양파가격정보2018.xlsx', encoding='utf-8-sig', header=None)
onion18 = onion18.T

In [63]:
onion18.drop([0], inplace=True)

In [64]:
onion18.drop([2,3], axis=1, inplace=True)

In [65]:
onion18.head()

                     0       1
1  2020-01-02 00:00:00  24,000
2  2020-01-03 00:00:00  24,000
3  2020-01-04 00:00:00  24,000
4  2020-01-05 00:00:00  24,000
5  2020-01-08 00:00:00  24,000

In [66]:
onion19 = pd.read_excel('./양파가격정보2019.xlsx', encoding='utf-8-sig', header=None)
onion19 = onion19.T

In [67]:
onion19.drop([0], inplace=True)

In [68]:
onion19.drop([2,3], axis=1, inplace=True)

In [69]:
onion19.head()

                     0       1
1  2020-01-02 00:00:00  12,000
2  2020-01-03 00:00:00  12,000
3  2020-01-04 00:00:00  13,000
4  2020-01-07 00:00:00  13,000
5  2020-01-08 00:00:00  13,000

In [70]:
onion20 = pd.read_excel('./양파가격정보2020.xlsx', encoding='utf-8-sig', header=None)
onion20 = onion20.T

In [71]:
onion20.drop([0], inplace=True)

In [72]:
onion20.drop([2,3], axis=1, inplace=True)

In [73]:
onion20.head()

                     0       1
1  2020-01-02 00:00:00  16,000
2  2020-01-03 00:00:00  17,000
3  2020-01-06 00:00:00  18,000
4  2020-01-07 00:00:00  20,000
5  2020-01-08 00:00:00  20,000

In [74]:
onion_whholesalePrice = pd.concat([onion13,onion14,onion15,onion16,onion17,onion18,onion19,onion20], ignore_index=True)

In [75]:
onion_whholesalePrice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1917 entries, 0 to 1916
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1917 non-null   object
 1   1       1917 non-null   object
dtypes: object(2)
memory usage: 30.1+ KB

In [76]:
onion_whholesalePrice.head()

                     0       1
0  2020-01-02 00:00:00  28,000
1  2020-01-03 00:00:00  28,000
2  2020-01-04 00:00:00  28,000
3  2020-01-07 00:00:00  30,000
4  2020-01-08 00:00:00  32,000

In [79]:
onion_whholesalePrice.columns=['date', 'wholesale_price(20kg)']

In [80]:
onion_whholesalePrice

                     date wholesale_price(20kg)
0     2020-01-02 00:00:00                28,000
1     2020-01-03 00:00:00                28,000
2     2020-01-04 00:00:00                28,000
3     2020-01-07 00:00:00                30,000
4     2020-01-08 00:00:00                32,000
...                   ...                   ...
1912  2020-10-26 00:00:00                25,500
1913  2020-10-27 00:00:00                25,500
1914  2020-10-28 00:00:00                26,100
1915  2020-10-29 00:00:00                26,600
1916  2020-10-30 00:00:00                27,000

[1917 rows x 2 columns]

In [99]:
onion_whholesalePrice['wholesale_price(20kg)'] = onion_whholesalePrice['wholesale_price(20kg)'].str.replace(',', '').astype('int64')

In [100]:
onion_whholesalePrice.head()

                  date  wholesale_price(20kg)
0  2020-01-02 00:00:00                  28000
1  2020-01-03 00:00:00                  28000
2  2020-01-04 00:00:00                  28000
3  2020-01-07 00:00:00                  30000
4  2020-01-08 00:00:00                  32000

In [101]:
onion_whholesalePrice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1917 entries, 0 to 1916
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1917 non-null   object
 1   wholesale_price(20kg)  1917 non-null   int64
dtypes: int64(1), object(1)
memory usage: 30.1+ KB

In [108]:
onion_whholesalePrice['wholesale_price(1kg)'] = (onion_whholesalePrice['wholesale_price(20kg)']/20)

In [109]:
onion_whholesalePrice['product'] = '양파'

In [110]:
onion_whholesalePrice

                     date  wholesale_price(20kg)  wholesale_price(1kg) product
0     2020-01-02 00:00:00                  28000                1400.0      양파
1     2020-01-03 00:00:00                  28000                1400.0      양파
2     2020-01-04 00:00:00                  28000                1400.0      양파
3     2020-01-07 00:00:00                  30000                1500.0      양파
4     2020-01-08 00:00:00                  32000                1600.0      양파
...                   ...                    ...                   ...     ...
1912  2020-10-26 00:00:00                  25500                1275.0      양파
1913  2020-10-27 00:00:00                  25500                1275.0      양파
1914  2020-10-28 00:00:00                  26100                1305.0      양파
1915  2020-10-29 00:00:00                  26600                1330.0      양파
1916  2020-10-30 00:00:00                  27000                1350.0      양파

[1917 rows x 4 columns]

In [111]:
onion_whholesalePrice.to_csv('onion_whholesalePrice.csv', mode='w', encoding='utf-8', index=False) 

print('success')

success