In [1]:
import pandas as pd
from datetime import datetime

# 한글 폰트 문제 해결
import platform

from matplotlib import font_manager, rc
# plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [2]:
stock = pd.read_excel('./stock_final.xlsx')

In [3]:
stock.head()

,date,nongwoo,asiajongmyo,jobi,namhae,kynong,dongbang,dongyang,asiatech,greenplus,wooribio
0,2020-04-06,9200,4510,16050,7170,11200,5800,948,3710,7820,854
1,2020-04-07,9330,4485,15400,7500,11000,5850,985,3535,7790,875
2,2020-04-08,9380,4485,15450,7360,11250,5770,996,3285,7790,875
3,2020-04-09,9440,4580,15900,7510,12100,5780,1000,3310,7720,912
4,2020-04-10,10050,4540,15200,7460,11250,5820,962,3120,7720,894

In [4]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         141 non-null    datetime64[ns]
 1   nongwoo      141 non-null    int64
 2   asiajongmyo  141 non-null    int64
 3   jobi         141 non-null    int64
 4   namhae       141 non-null    int64
 5   kynong       141 non-null    int64
 6   dongbang     141 non-null    int64
 7   dongyang     141 non-null    int64
 8   asiatech     141 non-null    int64
 9   greenplus    141 non-null    int64
 10  wooribio     141 non-null    int64
dtypes: datetime64[ns](1), int64(10)
memory usage: 12.2 KB

In [5]:
stock['kind'] = (stock['nongwoo']+stock['asiajongmyo'])/2

In [6]:
stock['fertilizer'] = (stock['jobi']+stock['namhae'])/2

In [7]:
stock['pesticide'] = (stock['kynong']+stock['dongbang'])/2

In [8]:
stock['machine'] = (stock['dongyang']+stock['asiatech'])/2

In [9]:
stock['smartfarm'] = (stock['greenplus']+stock['wooribio'])/2

In [24]:
stock

,date,nongwoo,asiajongmyo,jobi,namhae,kynong,dongbang,dongyang,asiatech,greenplus,wooribio,kind,fertilizer,pesticide,machine,smartfarm
0,2020-04-06,9200,4510,16050,7170,11200,5800,948,3710,7820,854,6855.0,11610.0,8500.0,2329.0,4337.0
1,2020-04-07,9330,4485,15400,7500,11000,5850,985,3535,7790,875,6907.5,11450.0,8425.0,2260.0,4332.5
2,2020-04-08,9380,4485,15450,7360,11250,5770,996,3285,7790,875,6932.5,11405.0,8510.0,2140.5,4332.5
3,2020-04-09,9440,4580,15900,7510,12100,5780,1000,3310,7720,912,7010.0,11705.0,8940.0,2155.0,4316.0
4,2020-04-10,10050,4540,15200,7460,11250,5820,962,3120,7720,894,7295.0,11330.0,8535.0,2041.0,4307.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2020-10-26,9920,4625,17100,8050,11400,6240,1335,3325,11400,3155,7272.5,12575.0,8820.0,2330.0,7277.5
137,2020-10-27,9900,4580,17150,7960,11200,6230,1335,3275,11350,3005,7240.0,12555.0,8715.0,2305.0,7177.5
138,2020-10-28,9920,4625,17600,8060,11500,6220,1365,3430,11400,3230,7272.5,12830.0,8860.0,2397.5,7315.0
139,2020-10-29,9750,4705,17400,8010,11400,6210,1360,3320,11350,3280,7227.5,12705.0,8805.0,2340.0,7315.0
140,2020-10-30,9650,4640,17350,7900,11450,6200,1420,3265,11300,3215,7145.0,12625.0,8825.0,2342.5,7257.5

In [11]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         141 non-null    datetime64[ns]
 1   nongwoo      141 non-null    int64
 2   asiajongmyo  141 non-null    int64
 3   jobi         141 non-null    int64
 4   namhae       141 non-null    int64
 5   kynong       141 non-null    int64
 6   dongbang     141 non-null    int64
 7   dongyang     141 non-null    int64
 8   asiatech     141 non-null    int64
 9   greenplus    141 non-null    int64
 10  wooribio     141 non-null    int64
 11  kind         141 non-null    float64
 12  fertilizer   141 non-null    float64
 13  pesticide    141 non-null    float64
 14  machine      141 non-null    float64
 15  smartfarm    141 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(10)
memory usage: 17.8 KB

In [12]:
stock_total = stock[['date','kind','fertilizer','pesticide','machine','smartfarm']]

In [13]:
stock_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        141 non-null    datetime64[ns]
 1   kind        141 non-null    float64
 2   fertilizer  141 non-null    float64
 3   pesticide   141 non-null    float64
 4   machine     141 non-null    float64
 5   smartfarm   141 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 6.7 KB

In [14]:
cabbage = pd.read_excel('./stock_cabbage.xlsx')

In [15]:
cabbage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    46 non-null     datetime64[ns]
 1   price   46 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 864.0 bytes

In [19]:
cabbage

         date        price
0  2020-04-06  3345.172414
1  2020-04-09  3278.482759
2  2020-04-13  3321.034483
3  2020-04-16  3265.862069
4  2020-04-20  3260.344828
5  2020-04-23  3247.103448
6  2020-04-27  3261.153846
7  2020-05-04  3326.296296
8  2020-05-07  3499.172414
9  2020-05-11  3807.931034
10 2020-05-14  3692.758621
11 2020-05-18  3678.275862
12 2020-05-21  3659.655172
13 2020-05-25  3718.571429
14 2020-06-01  3739.411765
15 2020-06-04  3408.214286
16 2020-06-08  3320.357143
17 2020-06-09  3490.000000
18 2020-06-11  3427.083333
19 2020-06-15  3517.200000
20 2020-06-18  3308.461538
21 2020-06-22  3350.344828
22 2020-06-25  3270.000000
23 2020-07-02  3322.962963
24 2020-07-06  3349.310345
25 2020-07-09  3379.310345
26 2020-07-13  3432.592593
27 2020-07-16  3514.137931
28 2020-07-20  3656.428571
29 2020-07-23  3916.296296
30 2020-07-27  4227.037037
31 2020-08-03  4328.148148
32 2020-08-06  4253.333333
33 2020-08-10  4519.107143
34 2020-08-13  5046.000000
35 2020-09-17  7165.172414
36 2020-09-21  7135.172414
37 2020-09-24  7267.777778
38 2020-10-05  7664.482759
39 2020-10-08  7723.333333
40 2020-10-12  6709.285714
41 2020-10-13  6480.000000
42 2020-10-15  6389.310345
43 2020-10-19  4802.068966
44 2020-10-22  4757.931034
45 2020-10-26  3954.285714

In [31]:
# date 기준으로 left join
# result = pd.merge(cabbage, stock_total, on='date', how='outer')

result = pd.merge(cabbage, stock_total, left_on='date', right_on='date', how='left')
print(result)

         date        price    kind  fertilizer  pesticide  machine  smartfarm
0  2020-04-06  3345.172414  6855.0     11610.0     8500.0   2329.0     4337.0
1  2020-04-09  3278.482759  7010.0     11705.0     8940.0   2155.0     4316.0
2  2020-04-13  3321.034483  7242.5     11675.0     8490.0   1967.5     4052.0
3  2020-04-16  3265.862069  7705.0     12975.0     9410.0   2096.5     4856.5
4  2020-04-20  3260.344828  7830.0     13220.0     9615.0   2125.0     4922.5
5  2020-04-23  3247.103448  7855.0     12930.0     9675.0   2072.5     4850.5
6  2020-04-27  3261.153846  7632.5     12310.0     9310.0   2062.5     4971.0
7  2020-05-04  3326.296296  7410.0     12250.0     9530.0   2025.0     4987.5
8  2020-05-07  3499.172414  7442.5     12590.0     9740.0   2075.0     5052.5
9  2020-05-11  3807.931034  7395.0     12175.0     9500.0   2092.5     5595.0
10 2020-05-14  3692.758621  7247.5     11830.0     9115.0   2020.5     7010.0
11 2020-05-18  3678.275862  7375.0     11775.0     8970.0   1984.5     7297.5
12 2020-05-21  3659.655172  7690.0     12045.0     9215.0   2082.5     7445.0
13 2020-05-25  3718.571429  7470.0     11865.0     9110.0   2042.5     7572.5
14 2020-06-01  3739.411765  7847.5     12225.0     9345.0   2062.5     7915.0
15 2020-06-04  3408.214286  8100.0     12615.0     9470.0   2147.5     7952.5
16 2020-06-08  3320.357143  8172.5     12325.0     9440.0   2187.5     7967.5
17 2020-06-09  3490.000000  8035.0     12080.0     9255.0   2235.0     8000.0
18 2020-06-11  3427.083333  7867.5     11975.0     9065.0   2120.0     8142.5
19 2020-06-15  3517.200000  7125.0     10485.0     8175.0   1957.0     7283.5
20 2020-06-18  3308.461538  7495.0     10935.0     8720.0   2001.5     7350.0
21 2020-06-22  3350.344828  7452.5     11050.0     8730.0   1991.0     7215.0
22 2020-06-25  3270.000000  7507.5     11185.0     8810.0   1950.5     7957.5
23 2020-07-02  3322.962963  7615.0     12750.0     9360.0   1945.5     8525.0
24 2020-07-06  3349.310345  7860.0     14700.0     9850.0   1968.5     8907.5
25 2020-07-09  3379.310345  7645.0     14615.0     9570.0   1962.5     8792.5
26 2020-07-13  3432.592593  7655.0     14295.0     9390.0   1975.0     8920.0
27 2020-07-16  3514.137931  7527.5     14580.0     9355.0   1987.5     9155.0
28 2020-07-20  3656.428571  7547.5     14575.0     9480.0   1950.0     9505.0
29 2020-07-23  3916.296296  7775.0     15355.0     9850.0   1952.5     8415.0
30 2020-07-27  4227.037037  8275.0     17290.0    10365.0   1990.0     8120.0
31 2020-08-03  4328.148148  8290.0     15930.0    10415.0   2027.5     7745.0
32 2020-08-06  4253.333333  8640.0     17090.0    11590.0   2170.0     7790.0
33 2020-08-10  4519.107143  8615.0     17685.0    12600.0   2197.5     8802.5
34 2020-08-13  5046.000000  8425.0     16780.0    11950.0   2172.5     9765.0
35 2020-09-17  7165.172414  7795.0     15405.0    10360.0   2402.5    11250.0
36 2020-09-21  7135.172414  8045.0     15410.0    10470.0   2472.5    10995.0
37 2020-09-24  7267.777778  7382.5     13895.0     9400.0   2340.0    10182.5
38 2020-10-05  7664.482759  7647.5     14460.0     9655.0   2685.0    10987.5
39 2020-10-08  7723.333333  7700.0     14365.0     9640.0   2627.5    11970.0
40 2020-10-12  6709.285714  7785.0     14795.0     9865.0   2557.5    12295.0
41 2020-10-13  6480.000000  7755.0     14530.0     9735.0   2482.5    12772.5
42 2020-10-15  6389.310345  7587.5     14200.0     9590.0   2487.5    12712.5
43 2020-10-19  4802.068966  7505.0     13665.0     9350.0   2415.0    12305.0
44 2020-10-22  4757.931034  7445.0     13145.0     9110.0   2407.5    13080.0
45 2020-10-26  3954.285714  7272.5     12575.0     8820.0   2330.0     7277.5

In [32]:
result.isna().sum()

date          0
price         0
kind          0
fertilizer    0
pesticide     0
machine       0
smartfarm     0
dtype: int64

In [22]:
# 결측값을 앞 방향 혹은 뒷 방향으로 채우기 (fill gaps forward or backward)
# result.fillna(method='pad', inplace=True)

In [33]:
result

         date        price    kind  fertilizer  pesticide  machine  smartfarm
0  2020-04-06  3345.172414  6855.0     11610.0     8500.0   2329.0     4337.0
1  2020-04-09  3278.482759  7010.0     11705.0     8940.0   2155.0     4316.0
2  2020-04-13  3321.034483  7242.5     11675.0     8490.0   1967.5     4052.0
3  2020-04-16  3265.862069  7705.0     12975.0     9410.0   2096.5     4856.5
4  2020-04-20  3260.344828  7830.0     13220.0     9615.0   2125.0     4922.5
5  2020-04-23  3247.103448  7855.0     12930.0     9675.0   2072.5     4850.5
6  2020-04-27  3261.153846  7632.5     12310.0     9310.0   2062.5     4971.0
7  2020-05-04  3326.296296  7410.0     12250.0     9530.0   2025.0     4987.5
8  2020-05-07  3499.172414  7442.5     12590.0     9740.0   2075.0     5052.5
9  2020-05-11  3807.931034  7395.0     12175.0     9500.0   2092.5     5595.0
10 2020-05-14  3692.758621  7247.5     11830.0     9115.0   2020.5     7010.0
11 2020-05-18  3678.275862  7375.0     11775.0     8970.0   1984.5     7297.5
12 2020-05-21  3659.655172  7690.0     12045.0     9215.0   2082.5     7445.0
13 2020-05-25  3718.571429  7470.0     11865.0     9110.0   2042.5     7572.5
14 2020-06-01  3739.411765  7847.5     12225.0     9345.0   2062.5     7915.0
15 2020-06-04  3408.214286  8100.0     12615.0     9470.0   2147.5     7952.5
16 2020-06-08  3320.357143  8172.5     12325.0     9440.0   2187.5     7967.5
17 2020-06-09  3490.000000  8035.0     12080.0     9255.0   2235.0     8000.0
18 2020-06-11  3427.083333  7867.5     11975.0     9065.0   2120.0     8142.5
19 2020-06-15  3517.200000  7125.0     10485.0     8175.0   1957.0     7283.5
20 2020-06-18  3308.461538  7495.0     10935.0     8720.0   2001.5     7350.0
21 2020-06-22  3350.344828  7452.5     11050.0     8730.0   1991.0     7215.0
22 2020-06-25  3270.000000  7507.5     11185.0     8810.0   1950.5     7957.5
23 2020-07-02  3322.962963  7615.0     12750.0     9360.0   1945.5     8525.0
24 2020-07-06  3349.310345  7860.0     14700.0     9850.0   1968.5     8907.5
25 2020-07-09  3379.310345  7645.0     14615.0     9570.0   1962.5     8792.5
26 2020-07-13  3432.592593  7655.0     14295.0     9390.0   1975.0     8920.0
27 2020-07-16  3514.137931  7527.5     14580.0     9355.0   1987.5     9155.0
28 2020-07-20  3656.428571  7547.5     14575.0     9480.0   1950.0     9505.0
29 2020-07-23  3916.296296  7775.0     15355.0     9850.0   1952.5     8415.0
30 2020-07-27  4227.037037  8275.0     17290.0    10365.0   1990.0     8120.0
31 2020-08-03  4328.148148  8290.0     15930.0    10415.0   2027.5     7745.0
32 2020-08-06  4253.333333  8640.0     17090.0    11590.0   2170.0     7790.0
33 2020-08-10  4519.107143  8615.0     17685.0    12600.0   2197.5     8802.5
34 2020-08-13  5046.000000  8425.0     16780.0    11950.0   2172.5     9765.0
35 2020-09-17  7165.172414  7795.0     15405.0    10360.0   2402.5    11250.0
36 2020-09-21  7135.172414  8045.0     15410.0    10470.0   2472.5    10995.0
37 2020-09-24  7267.777778  7382.5     13895.0     9400.0   2340.0    10182.5
38 2020-10-05  7664.482759  7647.5     14460.0     9655.0   2685.0    10987.5
39 2020-10-08  7723.333333  7700.0     14365.0     9640.0   2627.5    11970.0
40 2020-10-12  6709.285714  7785.0     14795.0     9865.0   2557.5    12295.0
41 2020-10-13  6480.000000  7755.0     14530.0     9735.0   2482.5    12772.5
42 2020-10-15  6389.310345  7587.5     14200.0     9590.0   2487.5    12712.5
43 2020-10-19  4802.068966  7505.0     13665.0     9350.0   2415.0    12305.0
44 2020-10-22  4757.931034  7445.0     13145.0     9110.0   2407.5    13080.0
45 2020-10-26  3954.285714  7272.5     12575.0     8820.0   2330.0     7277.5

In [34]:
result.to_excel(excel_writer = 'stock_cabbagePrice.xlsx', encoding='utf-8-sig', index=False) 

print('success')

success

In [41]:
test = pd.read_csv('./stock_cabbagePrice.csv')

In [42]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        46 non-null     object
 1   price       46 non-null     float64
 2   kind        46 non-null     float64
 3   fertilizer  46 non-null     int64
 4   pesticide   46 non-null     int64
 5   machine     46 non-null     float64
 6   smartfarm   46 non-null     float64
dtypes: float64(4), int64(2), object(1)
memory usage: 2.6+ KB

In [43]:
test.head()

         date        price    kind  fertilizer  pesticide  machine  smartfarm
0  2020-04-06  3345.172414  6855.0       11610       8500   2329.0     4337.0
1  2020-04-09  3278.482759  7010.0       11705       8940   2155.0     4316.0
2  2020-04-13  3321.034483  7242.5       11675       8490   1967.5     4052.0
3  2020-04-16  3265.862069  7705.0       12975       9410   2096.5     4856.5
4  2020-04-20  3260.344828  7830.0       13220       9615   2125.0     4922.5

In [44]:
test['kind'] = test['kind'].astype(int)
test['machine'] = test['machine'].astype(int)
test['smartfarm'] = test['smartfarm'].astype(int)
test['price'] = test['price'].astype(int)

In [45]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        46 non-null     object
 1   price       46 non-null     int32
 2   kind        46 non-null     int32
 3   fertilizer  46 non-null     int64
 4   pesticide   46 non-null     int64
 5   machine     46 non-null     int32
 6   smartfarm   46 non-null     int32
dtypes: int32(4), int64(2), object(1)
memory usage: 1.9+ KB

In [46]:
test.to_excel(excel_writer = 'stock_cabbagePrice.xlsx', encoding='utf-8-sig', index=False) 

print('success')

success