In [1]:
import pandas as pd
from datetime import datetime

In [2]:
holiday = pd.date_range(start='2013-01-01', end='2020-10-31')

In [21]:
holiday_df = pd.DataFrame(holiday)
holiday_df.columns = ['date']

In [22]:
holiday_df

           date
0    2013-01-01
1    2013-01-02
2    2013-01-03
3    2013-01-04
4    2013-01-05
...         ...
2856 2020-10-27
2857 2020-10-28
2858 2020-10-29
2859 2020-10-30
2860 2020-10-31

[2861 rows x 1 columns]

In [5]:
# 엑셀로 내보내기
# holiday_df.to_excel(excel_writer='holiday_test.xlsx', encoding='utf-8')

In [23]:
gt_baek = pd.read_csv('./googleTrends_baek.csv', sep=',', names=['date','number'], header=None)

In [24]:
gt_baek.head()

         date  number
0  2013-01-06       4
1  2013-01-13      16
2  2013-01-20     100
3  2013-01-27      75
4  2013-02-03       4

In [27]:
gt_baek.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    408 non-null    object
 1   number  408 non-null    int64
dtypes: int64(1), object(1)
memory usage: 6.5+ KB

In [30]:
gt_baek['date'] = pd.to_datetime(gt_baek['date'], format='%Y-%m-%d', errors='raise')
gt_baek.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    408 non-null    datetime64[ns]
 1   number  408 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 6.5 KB

In [32]:
gt_merge_df = pd.merge(holiday_df, gt_baek, how='left',on='date')

In [36]:
gt_merge_df.head(20)

         date  number
0  2013-01-01     NaN
1  2013-01-02     NaN
2  2013-01-03     NaN
3  2013-01-04     NaN
4  2013-01-05     NaN
5  2013-01-06     4.0
6  2013-01-07     NaN
7  2013-01-08     NaN
8  2013-01-09     NaN
9  2013-01-10     NaN
10 2013-01-11     NaN
11 2013-01-12     NaN
12 2013-01-13    16.0
13 2013-01-14     NaN
14 2013-01-15     NaN
15 2013-01-16     NaN
16 2013-01-17     NaN
17 2013-01-18     NaN
18 2013-01-19     NaN
19 2013-01-20   100.0

In [48]:
# 결측값을 앞 방향 혹은 뒷 방향으로 채우기 (fill gaps forward or backward)
# fillna(method='ffill' or 'pad'), fillna(method='bfill' or 'backfill')

gt_total_df = gt_merge_df.fillna(method='pad')

In [52]:
gt_total_df.head(20)

         date  number
0  2013-01-01     NaN
1  2013-01-02     NaN
2  2013-01-03     NaN
3  2013-01-04     NaN
4  2013-01-05     NaN
5  2013-01-06     4.0
6  2013-01-07     4.0
7  2013-01-08     4.0
8  2013-01-09     4.0
9  2013-01-10     4.0
10 2013-01-11     4.0
11 2013-01-12     4.0
12 2013-01-13    16.0
13 2013-01-14    16.0
14 2013-01-15    16.0
15 2013-01-16    16.0
16 2013-01-17    16.0
17 2013-01-18    16.0
18 2013-01-19    16.0
19 2013-01-20   100.0

In [56]:
gt_total_df.isnull().sum()

date      0
number    5
dtype: int64

In [66]:
gt_total_df = gt_total_df.fillna(4)

In [67]:
gt_total_df.isnull().sum()

date      0
number    0
dtype: int64

In [68]:
gt_total_df.to_csv('googleTrend_baek_alldays.csv', mode='w', encoding='utf-8', index=False) 

print('success')

success