In [1]:
import pandas as pd
from datetime import datetime

In [6]:
holiday = pd.date_range(start='2013-01-01', end='2020-10-31')

In [7]:
holiday

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10',
               ...
               '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25',
               '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29',
               '2020-10-30', '2020-10-31'],
              dtype='datetime64[ns]', length=2861, freq='D')

In [8]:
holiday_df = pd.DataFrame(holiday)

In [15]:
holiday_df

              0
0    2013-01-01
1    2013-01-02
2    2013-01-03
3    2013-01-04
4    2013-01-05
...         ...
2856 2020-10-27
2857 2020-10-28
2858 2020-10-29
2859 2020-10-30
2860 2020-10-31

[2861 rows x 1 columns]

In [14]:
holiday_df.to_excel(excel_writer='holiday_test.xlsx', encoding='utf-8')